@page "/usuarioReg"

<h1>Registro de Usuario</h1>


<h1>Iniciar sesión</h1>


   <th>Correo</th>
   <input type="text">
   <th>Contraseña</th>
   <input type="password">
   <label class="btn btn-primary"@onclick="Agregar">Registrarse</label>
   <br>
   <br>
   <button class="btn btn-primary"@onclick="Agregar">Acceder</button>

@code{

    public void Agregar(){

    urlHelper.NavigateTo("/Medicamentos");

}
}