@page "/Login"
<body>
<h1>Iniciar sesión</h1>


  <div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>
   <br>
   <button class="btn btn-primary"@onclick="ir">Acceder</button>
   <div>
   <label> Nuevo Usuario</label>
   <button class="btn btn-primary"@onclick="reg">Registrarse</button>
   </div>
     <div>
 <button type="button" class="btn btn-secondary btn-lg"@onclick="newcon">Cambiar Contraseña</button> </div>
<br>
 <br>
@code{

    public void ir(){

    urlHelper.NavigateTo("/medicamentos");


}
public void newcon(){

    urlHelper.NavigateTo("/newcontra");


}
public void reg(){

    urlHelper.NavigateTo("/regusuario");


}

}
</body>