
@page "/medicamentos"

<h1>Ventas de Farmacos</h1>
<br>
 <div class="row mt-2">
    <div class="col">
        <div class="form-group">
            <label for="Txtproducto">Producto</label>
            <input class="form-control" type="text" name="Txtproducto" id="Txtproducto">
        </div>
</div>
</div>

    <div class="col ">
        <div class="form-group">
            <label for="txtApellido">codProd</label>
            <input class="form-control" type="text" name="txtApellido" id="txtApellido">
        </div>
    </div>
    <div class="col ">
        <div class="form-group">
            <label for="TxtPrecio">Precio</label>
            <input class="form-control" type="text" name="Txtcosto" id="Txtcosto">
        </div>
    </div>
    <div class="col ">
        <div class="form-group">
            <label for="TxtCant">Cantidad</label>
            <input class="form-control" type="text" name="Txtnombre" id="Txtnombre">
        </div>
    </div>
    <div class="col ">
        <div class="form-group">
            <label for="TxtDsc">Descuento</label>
            <input class="form-control" type="text" name="TxtCantidad" id="TxtCantidad">
        </div>
    </div>
<div>
        <button type="button" class="btn btn-secondary btn-lg"@onclick="ir">Facturar</button>

       <button type="button" class="btn btn-secondary btn-lg"@onclick="newpro">Nuevo Producto</button>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Producto </th>
                <th>CodProd</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Descuento</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
      
@code{
    public void ir()
    {
    
    urlHelper.NavigateTo("/Factura");

}
        public void newpro()
    {
    
    urlHelper.NavigateTo("/nuevoprod");

}
    }
