
@page "/Medicamentos"

<h1>Ventas de Farmacos</h1>

<br>

<th>Nombre del Cliente</th>      
       <input type="text">
        <th> Nombre </th>
       <input type="text">
        <th>Codigo</th>
       <input type="text">
         <th>Costo</th>
          <input type="text">
         <th>Fecha</th>
         <input type="text">
         <th>Cantidad</th>
         <input type="text">
       <div>
         <button class="btn btn-primary">Enviar</button>
        </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre </th>
                <th>Codigo</th>
                <th>Costo</th>
                <th>Fecha</th>
                <th>Nombre del Cliente</th>
                <th>Cantidad</th>
                 <th>Total</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
      @code{
        public void Agregar()
    {
    
    urlHelper.NavigateTo("/");

}
    }

