
@page "/medicamentos"

<h1>Ventas de Farmacos</h1>

<br>

<th>Cliente</th>    
 <div>  </div>  
       <input type="text">
        <div> Nombre </div>
       <input type="text">
        <label>Codigo</label>
       <input type="text">
         <label>Costo</label>
          <input type="text">
         <label>Fecha</label>
         <input type="text">
         <label>Cantidad</label>
         <input type="text">
       <div>
         <button class="btn btn-primary">Enviar</button>
        </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre </th>
                <th>Codigo</th>
                <th>Costo</th>
                <th>Fecha</th>
                <th>Nombre del Cliente</th>
                <th>Cantidad</th>
                 <th>Total</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
      
@code{
    public void Agregar()
    {
    
    urlHelper.NavigateTo("/login");

}
        public void Aceptar()
    {
    
    urlHelper.NavigateTo("/medicaentos");

}
    }
