@page "/newcontra"
<h1>Cambio de Contraseña</h1>

<th>Correo </th>
<input type="text">
<th>Contraseña</th>
<input type="text">
<th>De nuevo Contraseña</th>
<input type="password">

<br>
<button class="btn btn-primary"@onclick="Agregar">Guardar</button>

@code{

    public void Agregar(){

    urlHelper.NavigateTo("/login");

}
}y