@page "/newcontra"
<h1>Cambio de Contraseña</h1>

<th>Correo </th>
<input type="text">
<th>Contraseña</th>
<input type="text">
<th>Confimar Contraseña</th>
<input type="password">

<br>
<button class="btn btn-primary"@onclick="Aceptar">Guardar</button>

@code{

    public void Aceptar(){

    urlHelper.NavigateTo("/Login");
    

}


}
@code{

    public void Cambia(){

    urlHelper.NavigateTo("/newcontra");
    

}


}