@page "/usarioreg"

<h1>Iniciar sesión</h1>


   <th>Correo</th>
   <input type="text">
   <th>Contraseña</th>
   <input type="password">
   <th>Correo</th>
   <input type="text">
   <th>Contraseña</th>
   <input type="password">

 